################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebCrawler/.vs
/WebCrawler/WebCrawler/bin/Debug/net10.0
/WebCrawler/WebCrawler/obj
/WebCrawler/WebCrawler.Tests/bin
/WebCrawler/WebCrawler.Tests/obj
